.hidden { display: none; }

body > button {
  margin: 5px;
  text-align: center;
}

#save-btn,
#add-new-area-btn {
  margin: 5px;
  text-align: center;
}

#errors {
  background-color: red;
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

hr {
  width: 98%;
}